@{
	ViewBag.Title = "Confirmation";
}
@*<h2>@ViewBag.Title.</h2>
	<h3>@ViewBag.Message</h3>

	<p>Use this area to provide additional information.</p>*@
<div>



	<img src="ok.jpg" alt="Ok">


	<p style="text-align:center">Shipping confirmed</p>
	<div class="col-md-10">
		<input type="submit" value="Search" class="btn btn-default">
	</div>
</div>