@{
	ViewBag.Title = "Search";
}
<h1 style="text-align:center">Search for routes</h1>


<div class="row">
	<div class="col-md-10">
		<input class="form-control" id="From" name="From" type="text" value="" style="margin-bottom:10px" placeholder="From">
		<input class="form-control" id="To" name="To" type="text" value="" style="margin-bottom:10px" placeholder="To">
		<input class="form-control" id="Weight" name="Weight" type="text" value="" style="margin-bottom:10px" placeholder="Weight" required>
	</div>
	@*<div class="col-md-10">
			<p>Type:</p>
			<input type="radio" id="frogile" name="frogile" value="HTML">
			<label for="frogile">Frogile</label><br>
			<input type="radio" id="animals" name="animal" value="CSS">
			<label for="animals">Animals</label><br>
			<input type="radio" id="weapons" name="weapons" value="JavaScript">
			<label for="weapons">Weapons</label><br>
			<input type="radio" id="refigerated" name="refigerated" value="CSS">
			<label for="refigerated">Refigerated goods</label><br>
			<input type="radio" id="other" name="other" value="JavaScript">
			<label for="other">Other</label>
		</div>*@
	<div class="col-md-10">

		<h4>Type:</h4>
		<label class="containertype">
			Frogile
			<input type="checkbox" checked="checked">
			<span class="checkmark"></span>
		</label>
		<label class="containertype">
			Animals
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="containertype">
			Weapons
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="containertype">
			Refigerated goods
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
		<label class="containertype">
			Other
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>


	</div>
	<div class="col-md-10">
		<input type="submit" value="Search" onclick="window.location.href = '/Admin/Confirmation';" class="btn btn-default">
	</div>
</div>
